.grid {
    margin: auto;
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.frog {
    background-color: green;
}

h2 {
    color: green;
}